.myplace{
    background: url(https://media4.giphy.com/media/3ohs4oVhPxtxcgRIE8/giphy.gif?cid=6c09b952yc5z4a1mpe5agtsbfvshfcncilqsfwf1u2r6b18e&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g);
    background-size:700px;
    background-repeat: no-repeat;
    background-position: center;
}